.thicker-border{
  border-width: 3px!important;
}
#start_stop, #reset, #break-decrement, #session-decrement, #break-increment, #session-increment{
  cursor: pointer;
}
#break-length, #session-length{
  font-size: 2em;
}